* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

img.logo {
    width: 384px;
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    animation: logo 4s ease-out;
}

@keyframes logo {
    
    0% {
        opacity: 0;
        transform: translate(-50%, -45%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

}